In [1]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 100)
pd.set_option('display.max_colwidth', None)

In [4]:
from pydataset import data
mtcars = data('mtcars')
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
type(mtcars)

pandas.core.frame.DataFrame

# Read/Write - CSV/EXCEL

In [6]:
mtcars.to_csv('mtcarsdata.csv', index=False)

In [7]:
mtcars2 = pd.read_csv('mtcarsdata.csv')
mtcars2.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [14]:
mtcars.to_excel('mtcarsdata2.xlsx', index=False)

In [16]:
mtcars3 = pd.read_excel('mtcarsdata2.xlsx', sheetname=0) 
mtcars3.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [17]:
mtcars[mtcars['gear'] ==4]

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710      22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Merc 240D       24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
Merc 230        22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
Merc 280        19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
Merc 280C       17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
Fiat 128        32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
Honda Civic     30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
Fiat X1-9       27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
Volvo 142E      21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

# Missing
- df.isnull() - missing values
- df.notnull() - not null valuse

In [22]:
mtcars.shape

(32, 11)

In [23]:
mtcars.isnull()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,False,False,False,False,False,False,False,False,False,False,False
Mazda RX4 Wag,False,False,False,False,False,False,False,False,False,False,False
Datsun 710,False,False,False,False,False,False,False,False,False,False,False
Hornet 4 Drive,False,False,False,False,False,False,False,False,False,False,False
Hornet Sportabout,False,False,False,False,False,False,False,False,False,False,False
Valiant,False,False,False,False,False,False,False,False,False,False,False
Duster 360,False,False,False,False,False,False,False,False,False,False,False
Merc 240D,False,False,False,False,False,False,False,False,False,False,False
Merc 230,False,False,False,False,False,False,False,False,False,False,False
Merc 280,False,False,False,False,False,False,False,False,False,False,False
Merc 280C,False,False,False,False,False,False,False,False,False,False,False
Merc 450SE,False,False,False,False,False,False,False,False,False,False,False
Merc 450SL,False,False,False,False,False,False,False,False,False,False,False
Merc 450SLC,False,False,False,False,False,False,False,False,False,False,False
Cadillac Fleetwood,False,False,False,False,False,False,False,False,False,False,False
Lincoln Continental,False,False,False,False,False,False,False,False,False,False,False
Chrysler Imperial,False,False,False,False,False,False,False,False,False,False,False
Fiat 128,False,False,False,False,False,False,False,False,False,False,False
Honda Civic,False,False,False,False,False,False,False,False,False,False,False
Toyota Corolla,False,False,False,False,False,False,False,False,False,False,False
Toyota Corona,False,False,False,False,False,False,False,False,False,False,False
Dodge Challenger,False,False,False,False,False,False,False,False,False,False,False
AMC Javelin,False,False,False,False,False,False,False,False,False,False,False
Camaro Z28,False,False,False,False,False,False,False,False,False,False,False
Pontiac Firebird,False,False,False,False,False,False,False,False,False,False,False
Fiat X1-9,False,False,False,False,False,False,False,False,False,False,False
Porsche 914-2,False,False,False,False,False,False,False,False,False,False,False
Lotus Europa,False,False,False,False,False,False,False,False,False,False,False
Ford Pantera L,False,False,False,False,False,False,False,False,False,False,False
Ferrari Dino,False,False,False,False,False,False,False,False,False,False,False
Maserati Bora,False,False,False,False,False,False,False,False,False,False,False
Volvo 142E,False,False,False,False,False,False,False,False,False,False,False

In [18]:
mtcars.isnull().sum() # counting missing values, columns wise

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [21]:
mtcars.isnull().sum(axis=1)

Mazda RX4              0
Mazda RX4 Wag          0
Datsun 710             0
Hornet 4 Drive         0
Hornet Sportabout      0
Valiant                0
Duster 360             0
Merc 240D              0
Merc 230               0
Merc 280               0
Merc 280C              0
Merc 450SE             0
Merc 450SL             0
Merc 450SLC            0
Cadillac Fleetwood     0
Lincoln Continental    0
Chrysler Imperial      0
Fiat 128               0
Honda Civic            0
Toyota Corolla         0
Toyota Corona          0
Dodge Challenger       0
AMC Javelin            0
Camaro Z28             0
Pontiac Firebird       0
Fiat X1-9              0
Porsche 914-2          0
Lotus Europa           0
Ford Pantera L         0
Ferrari Dino           0
Maserati Bora          0
Volvo 142E             0
dtype: int64

In [20]:
mtcars.notnull().sum()

mpg     32
cyl     32
disp    32
hp      32
drat    32
wt      32
qsec    32
vs      32
am      32
gear    32
carb    32
dtype: int64

In [25]:
mtcars.isnull().head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,False,False,False,False,False,False,False,False,False,False,False
Mazda RX4 Wag,False,False,False,False,False,False,False,False,False,False,False
Datsun 710,False,False,False,False,False,False,False,False,False,False,False
Hornet 4 Drive,False,False,False,False,False,False,False,False,False,False,False
Hornet Sportabout,False,False,False,False,False,False,False,False,False,False,False

In [26]:
mtcars.notnull().sum(axis=0)

mpg     32
cyl     32
disp    32
hp      32
drat    32
wt      32
qsec    32
vs      32
am      32
gear    32
carb    32
dtype: int64

In [28]:
mtcars.notnull().sum(axis=1)

Mazda RX4              11
Mazda RX4 Wag          11
Datsun 710             11
Hornet 4 Drive         11
Hornet Sportabout      11
Valiant                11
Duster 360             11
Merc 240D              11
Merc 230               11
Merc 280               11
Merc 280C              11
Merc 450SE             11
Merc 450SL             11
Merc 450SLC            11
Cadillac Fleetwood     11
Lincoln Continental    11
Chrysler Imperial      11
Fiat 128               11
Honda Civic            11
Toyota Corolla         11
Toyota Corona          11
Dodge Challenger       11
AMC Javelin            11
Camaro Z28             11
Pontiac Firebird       11
Fiat X1-9              11
Porsche 914-2          11
Lotus Europa           11
Ford Pantera L         11
Ferrari Dino           11
Maserati Bora          11
Volvo 142E             11
dtype: int64

In [29]:
mtcars.notnull().sum().sum()

np.int64(352)

In [30]:
mtcars.sum()

mpg      642.900
cyl      198.000
disp    7383.100
hp      4694.000
drat     115.090
wt       102.952
qsec     571.160
vs        14.000
am        13.000
gear     118.000
carb      90.000
dtype: float64

In [31]:
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [33]:
mtcars.mean(axis=0)

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [34]:
mtcars.max(axis=0)

mpg      33.900
cyl       8.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec     22.900
vs        1.000
am        1.000
gear      5.000
carb      8.000
dtype: float64

In [36]:
mtcars.duplicated().sum()

np.int64(0)

In [3]:
from pydataset import data
mtcars = data('mtcars')
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [13]:
BMW = mtcars.loc['Mazda RX4']
BMW

mpg      21.00
cyl       6.00
disp    160.00
hp      110.00
drat      3.90
wt        2.62
qsec     16.46
vs        0.00
am        1.00
gear      4.00
carb      4.00
BMW        NaN
Name: Mazda RX4, dtype: float64

In [10]:
mtcars.shape

(32, 12)

In [11]:
mtcars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,BMW
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,NaN
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,NaN
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,NaN
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,NaN
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,NaN
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,NaN
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,NaN
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,NaN
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,NaN
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,NaN
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,NaN
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,NaN
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,NaN
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,NaN
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,NaN
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,NaN
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,NaN
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,NaN
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,NaN
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,NaN
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,NaN
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,NaN
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,NaN
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,NaN
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,NaN
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,NaN
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,NaN
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,NaN
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,NaN
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,NaN
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,NaN
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,NaN

# Check for Duplicates
- duplicated() # check for duplicate row

In [21]:
mtcars2 = mtcars.copy().reset_index().rename(columns={'index':'car'})
mtcars2.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2